<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
<title>MeSH Suggestions</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/base/base-min.css">
<style type="text/css">
#hd h1 {
  font-size:299%;
  margin:0 0 0.3em 0;
}
#hd h1 a {
  color:#555;
  text-decoration:none;
}
#q {
  font-size:153.9%;
  width: 13em;
  border: 0.2em solid #555;
  padding:0 0.25em;
  margin:0;
  height:1.38em;
  display:block;
  float:left;
}
#q:focus {
  background-color: #eee;
}
#search {
  font-size:153.9%;
  border: 0;
  padding:0 0.5em;
  margin:0;
  height:1.75em;
  background-color:#555;
  color:#fff;
}
#suggestions {
  font-size:116%;
}
#ft {
  margin-top: 1em;
}
#ft a {
  color:#555;
}
</style>
</head>
<body>
<div id="doc3" class="yui-t7">
<div id="hd" role="banner"><h1><a href="/">MeSH Suggestions</a></h1></div>
<div id="bd" role="main">
<div class="yui-g">

<form>
<div>
<input type="text" name="q" id="q" value="<%= params[:q] %>" onfocus="select()"> <input type="submit" value="search" id="search">
</div>
</form>
<% if @suggestions %>
<div id="suggestions">
<h2>Top 10 major topics in top <%= @articles_count %> article(s)</h2>
<ol>
<% @suggestions.each do |s| %>
  <li><a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=mesh&EntrezSystem2.PEntrez.Mesh.SearchBar.Term=<%= s[0] %>" target="_blank"><%= s[0] %></a> [<%= s[1] %>]</li>
<% end %>
</ol>

<h4>See also:</h4>
<ul>
  <li><a href="http://clinicaltrials.gov/ct2/results?term=<%= params[:q] %>" target="_blank">Search <%= params[:q] %> in ClinicalTrials.gov</a></li>
  <li><a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=pubmed&cmd=DetailsSearch&term=medline[sb]+AND+<%= params[:q] %>" target="_blank">Search <%= params[:q] %> in PubMed</a></li>
  <li><a href="http://en.wikipedia.org/wiki/<%= params[:q] %>" target="_blank">Search <%= params[:q] %> in Wikipedia</a></li>
  <li><a href="http://www.google.com/search?q=<%= params[:q] %>" target="_blank">Search <%= params[:q] %> in Google</a></li>
</ul>
</div><!- #suggestions -->
<% end %>
</div><!-- .yui-g -->
</div><!-- #bd -->
<div id="ft" role="contentinfo"><a href="http://github.com/seouri/mesh-suggestions/">Source Code</a></div>
</div><!-- #doc .yui-t7 -->
</body>
</html>
